<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="shortcut icon", href="/assets/favicon.png", type="image/png")
    link(rel="stylesheet", href="./main.scss")
    title BachNX with React Project
  body
    #main
      #loader Application Is Loading
    script(src="index.js")
